* {
    font-family: sans-serif;
    box-sizing: border-box;
}

main {
    display: flex;
    background-color: gray;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#card {
    background-color: white;
    height: 800px;
    width: 300px;
    padding: 1em;
    display: flex;
    flex-direction: column;

}

img {
    border-radius: 50%;
    width: 100%;
    margin: 1em 0 0 0;

}

hr {
    background-color: black;
}

#stickers-header,
h1,
.subtitle {
    text-align: center;
}

button {
    height: 2em;
    font-size: 1.2em;
    background-color: lightblue;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: lightgray;
    cursor: pointer;
}