* {
    font-family: sans-serif;
    box-sizing: border-box;
}

main {
    display: flex;
    background-color: gray;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#card {
    background-color: white;
    height: 500px;
    width: 300px;
    padding: 1em;

}

img {
    border-radius: 50%;
    width: 100%;

}